/*******************************************************************************
 * Tree
 ******************************************************************************/

.tree .readme {
  display:inline-block;
}

.tree .title {
  margin-right: 1em;
  margin-left: 5px;
}

.tree .title + p {
  display: inline;
}

.tree .readme p {
  margin-top: 0pt;
  margin-bottom: 0pt;
}

.tree li.directory {
  list-style-type: none;
  margin-left: -40px;
  padding-left: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.tree li.directory.closed {
  background:url("folder.png") no-repeat left top;
  background-size: 20px 20px;
}
.tree li.directory.open {
  background:url("folder-open.png") no-repeat left top;
  background-size: 20px 20px;
}

.tree li.open ul {
  display: block;
}

.tree li.closed ul {
  display: none;
}

.tree a img {
    text-decoration: none;
}
