{% macro icon(url) -%}
    {%- if url[-3:] == "zip" -%}
        src="static/application-zip.png"
    {%- elif url[-3:] == "pdf" -%}
        src="static/application-pdf.png"
    {%- elif url[-3:] == "tex" -%}
        src="static/text-x-tex.png"
    {%- else -%}
        src="static/document.png"
    {%- endif -%}
{%- endmacro %}

{% macro renderdirectory(arbre, open=False) %}
<li class="directory {% if open %}open{% else %}closed{% endif %}"
    id="directory-{{ arbre.label }}"
    >
    <div class="readme">
      <a href="#" onclick="toggle_openclosed('directory-{{ arbre.label }}'); return false;" class="title">
          {{ arbre.tag }}
      </a>
      {% if arbre.pages|length == 1 %}
        {% for page in arbre.pages %}
            {{ page.description }}
            <a href="{{ page.url }}"><img src="static/applications-internet.png" width=18 height=18 alt="Page originale"></a>
            {% break %}
        {% endfor %}
      {% endif %}
    </div>
    <ul>
      {% for branche in arbre.branches|sort %}
        {{ renderdirectory(arbre.branches[branche]) }}
      {% endfor %}
      {% for groupe in arbre.iter_par_tags()|sort %}
        {{ renderfile(groupe, arbre.dest) }}
      {% endfor %}
    </ul>
</li>
{% endmacro %}

{% macro renderfile(groupe, dest) %}
{% set premier=groupe[0][1] %}
<li class="file">
    {{ premier.description }}
    ({%- for nom, fichier in groupe|sort -%}
    <a href="{% if copie %}{{ dest / nom }}{% else %}{{ fichier.url }}{% endif %}" title="{{ fichier.description }}">
          <img {{ icon(fichier.nom) }} width=18 height=18 alt="Icône">
      </a>
    {%- endfor -%})
  </li>
{% endmacro %}
