{% from "arbre.html" import renderdirectory with context %}

<!DOCTYPE html>
<html>
  <head>
    <title>Annales de mathématiques de l'APMEP</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" >
    <script type="text/javascript" src="static/tree.js"></script>
    <link rel="stylesheet" type="text/css" href="static/tree.css" >

    <!-- Généré avec https://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
    <link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Fin du favicon -->

  </head>
  <body>

    <p>Cette page se veut une présentation alternative et concise de l'ensemble des annales de mathématiques <a href="http://www.apmep.fr/-Annales-examens-concours-">compilées par l'APMEP</a>. Elle ne vise pas à <em>remplacer</em> le travail fait par l'APMEP, mais à proposer :
    </p>
    <ul>
        <li>le <a href="https://annales-math.readthedocs.io/fr/latest/telecharger/">téléchargement</a> de toutes les annales en une seule archive {% if archive_url %}<a href="{{ archive_url }}">{{ archive_url }}</a>{% elif archive %}<a href="{{ archive }}">{{ archive }}</a>{% endif %} ; </li>
      <li>la présentation concise faite sur cette page.</li>
    </ul>

    <p>
    Le projet est <a href="https://forge.apps.education.fr/paternaultlouis/annales-math">hébergé sur <code>https://forge.apps.education.fr</code></a>.
    </p>

    <ul class="tree">
      {% for branche in arbre.branches|sort %}
        {{ renderdirectory(arbre.branches[branche]) }}
      {% endfor %}
    </ul>

    <p>
    Généré par <a href="https://forge.apps.education.fr/paternaultlouis/annales-math"><em>aspirateur</em></a> le {{ date }}.
    </p>

    <p>
    Les icônes proviennent du projet <a href="https://techbase.kde.org/Projects/Oxygen">Oxygen</a> de <a href="https://kde.org">KDE</a>.
    </p>

  </body>
</html>
