<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Vérification</title>
  </head>
  <body>
      <p>
        {% if source %}Source des éléments : <a href="{{ source.url }}">{{ source.description }}</a>.{% endif %}
      </p>
      <ul>
          {% for item in éléments %}
          <li>
              <a href="{{ item.url }}">{{ item.catégorie }} : {% for tag in item.tags %}{{ tag }} {% endfor %}</a>
          </li>
          {% endfor %}
      </ul>
  </body>
</html>

